astroid==3.0.3
autopep8==2.0.4
dill==0.3.8
isort==5.13.2
mccabe==0.7.0
mypy==1.8.0
mypy-extensions==1.0.0
platformdirs==4.2.0
pycodestyle==2.11.1
pylint==3.0.3
pyrsistent==0.20.0
tomlkit==0.12.3
typing_extensions==4.9.0
